VITE_API_URL=https://<API_ID>.execute-api.ap-southeast-1.amazonaws.com/Prod
VITE_COGNITO_REGION=ap-southeast-1
VITE_COGNITO_USER_POOL_ID=ap-southeast-1_tezwytMhB
VITE_COGNITO_CLIENT_ID=4ojb58ppi9t62oe9bfccf1j2s
